.artigos {
    background-color: var(--cinza-claro);
    padding: 4em 0 2em 0;
    text-align: center;
}

.artigos__titulo-principal {
    font-size: 2em;
    color: var(--azul-escuro);
    line-height: 1.1em;
}

.artigos__lista {
    padding: 2em 0;
}

.artigos__lista-itens {
    margin: 2em 1em;
    background-color: var(--branco);
}

.artigos__lista-itens--imagem {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.artigos__lista-itens--textos {
    padding: 1em 1em 2em 1em;
    text-align: left;
}

.artigos__lista-itens--autor {
    font-size: 12px;
    margin-bottom: 1em;
    color: var(--azul-cinza);
}

.artigos__lista-itens--titulo {
    color: var(--azul-escuro);
    margin-bottom: 1em;
}

.artigos__lista-itens--texto {
    color: var(--azul-cinza);
    margin-bottom: 1em;
    font-size: 14px;
    width: 95%;
}

@media screen and (min-width: 530px) {
    .artigos__lista {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .artigos__lista-itens--imagem {
        object-fit: cover;
        height: auto;
    }
}

@media screen and (min-width: 1024px) {
    .artigos {
        padding: 5em 0 5em 0;
    }
    .artigos__container {
        margin: 0 auto;
        width: 80%;
    }

    .artigos__titulo-principal {
        text-align: left;
    }

    .artigos__lista {
        display: flex;
        padding: 2em 0;
    }

    .artigos__lista-itens {
        margin: 1em 2em 1em 0;
    }

    .artigos__lista-itens--imagem {
        height: 160px;
    }

    .artigos__lista-itens--textos {
        padding: 1em 1em;
    }

    .artigos__lista-itens--autor {
        font-size: 10px;
    }

    .artigos__lista-itens--titulo {
        margin-bottom: 0;
        padding: 0.5em 0;
    }

    .artigos__lista-itens--texto {
        margin-bottom: 0;
        width: 100%;
        line-height: 18px;
        font-size: 14px;
    }

}