.banner__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner__imagens {
    background-image: url('../../img/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-position-y: -2.1rem;
    background-size: cover;
    height: 22rem;
    width: 100vw;
}

.banner__imagem {
    display: flex;
    height: 40rem;
    object-fit:contain;
    position: absolute;
    transform: translateY(-13.5rem);
    width: 100vw;
}

.banner__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
}

.banner__titulo {
    color: var(--azul-escuro);
    font-size: 2.2em;
    line-height: 1.2em;
    width: 80%;
}

.banner__texto {
    color: var(--azul-cinza);
    font-size: 16px;
    line-height: 1.5em;
    padding: 1em 1em;
}

.banner__botao-request {
    background-image: var(--degrade);
    border-radius: 50px;
    color: var(--branco);
    font-size: 16px;
    margin-top: 0.5em;
    padding: 1em 2em;
    text-decoration: none;
}

@media screen and (min-width: 1440px) {
    .banner {
        width: 80%;
        margin: 0 auto 0 auto;
    }
    
    .banner__container {
        flex-direction: row-reverse;
    }

    .banner__info {
        display: inline-block;
        text-align: left;
    }

    .banner__titulo {
        font-size: 2.5em;
        width: 75%;
    }

    .banner__texto {
        padding: 2em 0 3em 0;
        text-align: left;
        width: 75%;
    }

    .banner__botao-request {
        align-items: left;
        text-align: left;
    }

    .banner__imagens {
        background-image: url('../../img/bg-intro-desktop.svg');
        transform: translateX(8rem);    
        height: 35rem;          
        background-position-y: -10.1rem;
        scale: 1.2;
        width: 100vw;
    }

    .banner__imagem {
        top: 27%;
        left: 5%;
        width: 100%;
        height: 52rem;
    }
}