.cabecalho {
    position: relative;
    padding: 1em;
}

.cabecalho__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__botao {
    display: none;
}

.cabecalho__menu-hamburguer {
    background-image: url("../../img/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.cabecalho__botao:checked ~ .cabecalho__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("../../img/icon-close.svg");
}

.lista-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    top: 120%;
    left: 12.5%;
    width: 75%;
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px var(--azul-escuro);
}

.cabecalho__botao:checked ~ .lista-menu {
    display: flex;
    z-index: 10;
}

.lista-menu__item {
    padding: 1em;
}

.lista-menu__link {
    text-decoration: none;
    color: var(--azul-escuro);
}

.lista-opcoes {
    display: none;
}

.botao__request {
    display: none;
}


@media screen and (min-width: 1440px) {
    .cabecalho__container {
        display: flex;
        justify-content: space-evenly;
    }

    .botao__request {
        display: block;
    }

    .lista-opcoes {
        display: flex;
    }

    .lista-opcoes__item {
        padding: 0 1em;
    }

    .lista-opcoes__link {
        text-decoration: none;
        color: var(--azul-escuro);
    }

    .cabecalho__rotulo {
        display: none;
    }

}