.rodape {
    background-color: var(--azul-escuro);
}

.rodape__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em 0 2em 0;
    align-items: center;
}

.rodape__logo {
    width: 80%;
    background-color: var(--branco);
    padding: 0.5em;
}

.rodape__redes-lista {
    display: flex;
    flex-direction: row;
}

.rodape__redes-lista--itens {
    padding: 1em 0.5em;
}

.fa-brands {
    font-size: 22px;
}

.rodape__links-lista {
    padding: 1em 0 2em 0;
}

.rodape__links-lista--itens {
    padding: 0.5em 0;
}

.rodape__links-lista--link {
    text-decoration: none;
    color: var(--azul-cinza-claro);
}

.rodape__botao-request {
    background-image: var(--degrade);
    border-radius: 50px;
    color: var(--branco);
    font-size: 16px;
    padding: 1em 2em;
    text-decoration: none;
}

.rodape__copyright {
    padding-top: 3em;
    color: var(--azul-cinza);
    font-size: 16px;
}

@media screen and (min-width: 1440px) {
    .rodape__container {
        flex-direction: row;
        margin: 0 auto;
        width: 80%;
        align-items: center;
        justify-content: space-between;
    }

    .rodape__esquerdo {
        text-align: left;
    }

    .rodape__redes-lista--itens {
        padding: 2em 0.7em 0 0;
    }

    .rodape__links-lista {
        padding: 1em 0 1em 0;
    }

    .rodape__links-lista--link {
        font-size: 14px;
    }

    .rodape__links-lista--itens {
        padding-right: 7em;
    }

    .rodape__links-lista {
        display: grid;
        grid-template-columns: 1fr 2fr;
        text-align: left;
    }

    .rodape__direito {
        text-align: right;
    }

    .rodape__copyright {
        padding-top: 4em;
        font-size: 14px;
    }
}